<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
    <!-- 标准控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{80} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 根Logger。开发模式，此处选择了控制台输出。对于生产模式，一般是将日志记录到文件 -->
    <root>
        <level value="INFO"/>
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="mybatis" level="DEBUG"/>
</configuration>